/*Live Order Css*/

#liveOrders{
	padding-top:1%;
	background:white;
	color:black;
	height:60vh;
	margin-top:3%;
	border-radius:5px;
	margin-left:5%;
	box-shadow: 0px 1px 15px 1px #aaa;
	
}

#liveOrders  legend {

	color:#aaa;
	text-align:right;
	font-family: 'Satisfy';
}

#live_orders_main{
	height:50vh;
	overflow-y: auto;
	overflow-x: hidden;
}

