
.order_inner_heading{
	font-size: 12px;
	font-family: Oxygen;
	border-bottom: 1px solid #ddd;
}

a{
	font-size: 11px;
	font-family: Oxygen;
	color: 
}

span{
	text-align: center;
}

.item_detail{
	font-size: 11px;
	font-weight: 500;
	font-family: Oxygen;
}

