#sidebar{
    min-height: 100%;
    display: none;
    width: 30vh;
    color: white;
    position: absolute;
    background: rgb(38, 138, 138);

}

li{
    list-style: none;
    padding: 4%;
}

li a {
    color: #aaa;
    padding: 5%;
}


li a:hover{
    
    
    color: white;
    cursor: pointer;
    text-decoration: none;

}

#sidebar hr{
    min-width: 100%;

}